Repository tydukes/mcp-vscode-workflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-config-validation, profile-config-validation, script-permissions, documentation-links

Path conditions:
  mcp-config-validation: any of: ^\.mcp/.*\.json$
  profile-config-validation: any of: ^\.vscode/profiles/.*\.json$
  script-permissions: any of: ^scripts/.*\.sh$
  documentation-links: any of: ^(docs/.*\.md|README\.md)$

feat: enhance check-tools.sh usage with options for profile specification and help
  github-issue-fix-ci.md
  scripts/check-tools.sh
Due: script-permissions

Refactor code structure and remove redundant sections for improved readability and maintainability
  .github/workflows/auto-merge.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .gitignore
  .markdownlint.json
  .mcp/prompts/bug-analysis.md
  .mcp/prompts/code-review.md
  .mcp/prompts/documentation.md
  .pre-commit-config.yaml
  .secrets.baseline
  .vscode/profiles/python.json
  Makefile
  README.md
  docs/getting-started.md
  docs/mcp-servers.md
  docs/roles.md
  github-issue-fix-ci.md
  pyproject.toml
  scripts/bootstrap.sh
  scripts/check-tools.sh
  scripts/install-mcp-npx.sh
  scripts/start-bash-profile.sh
  scripts/start-cicd-profile.sh
  scripts/start-docs-profile.sh
  scripts/start-infra-profile.sh
  scripts/start-python-profile.sh
  tests/__init__.py
  tests/test_project.py
  uv.lock
Due: profile-config-validation, script-permissions, documentation-links

feat: enhance CI workflow by adding virtual environment setup and excluding it from linting and testing
  .github/workflows/ci.yml
Due: none

feat: enhance CI workflow by adding Python linting and updating flake8 configuration
  .github/workflows/ci.yml
  pyproject.toml
Due: none

chore: remove Node.js setup from CI workflow to streamline process
  .github/workflows/ci.yml
Due: none

fix: correct regex pattern in security check for shell scripts
  .github/workflows/ci.yml
Due: none

fix: update TruffleHog configuration to handle pull request scenarios
  .github/workflows/ci.yml
Due: none

refactor: streamline branch protection workflow by removing CI status check and enhancing validation steps
  .github/workflows/branch-protection.yml
Due: none

docs: add AI assistant configuration and default settings to guides
  .vscode/settings.json
  docs/configuration.md
  docs/getting-started.md
Due: documentation-links

docs: enhance auto-merge documentation with feature details and troubleshooting steps
  .github/workflows/auto-merge.yml
  docs/ci-cd-setup.md
Due: documentation-links

test: add auto-merge test documentation [auto-merge]
  .github/workflows/auto-merge.yml
  docs/auto-merge-test.md
  scripts/debug-auto-merge.sh
Due: script-permissions, documentation-links

fix: quote PR number in GitHub CLI commands for consistency
  scripts/debug-auto-merge.sh
Due: script-permissions

fix: add quotes around PR_NUMBER in debug-auto-merge script for consistency
  scripts/debug-auto-merge.sh
Due: script-permissions

fix: add safe pattern for debug scripts in auto-merge workflow [auto-merge]
  .github/workflows/auto-merge.yml
Due: none

fix: remove problematic wait-for-ci job and add edited trigger for auto-merge workflow [auto-merge]
  .github/workflows/auto-merge.yml
Due: none

fix: use GraphQL API for enabling auto-merge instead of REST API [auto-merge]
  .github/workflows/auto-merge.yml
Due: none

fix: add safe pattern for debug scripts in auto-merge workflow [auto-merge] (#42)
  .github/workflows/auto-merge.yml
Due: none

fix: improve input reading in bootstrap script for better compatibility
  scripts/bootstrap.sh
Due: script-permissions

feat: Add interactive mode to bootstrap script with auto-detection and wizard (#43)
  docs/setup.md
  scripts/bootstrap.sh
Due: script-permissions, documentation-links

fix: Update Windows activation command format in quick setup success message
  scripts/bootstrap.sh
Due: script-permissions

feat: Add .flake8 configuration for linting and update test cases for quick setup
  .flake8
  pyproject.toml
  tests/test_bootstrap_quick.py
Due: none

feat: Add --quick flag for fast setup under 60 seconds (#44)
  .flake8
  Makefile
  docs/setup.md
  pyproject.toml
  scripts/bootstrap.sh
  tests/test_bootstrap_quick.py
Due: script-permissions, documentation-links

refactor: Update flake8 configuration and improve test assertions for auto-detect functionality
  .github/workflows/ci.yml
  tests/test_bootstrap_autodetect.py
Due: none

refactor: Enhance auto-detect functionality and update test assertions for clarity
  .vscode/settings.json
  scripts/bootstrap.sh
  tests/test_bootstrap_autodetect.py
Due: script-permissions

refactor: Improve VS Code opening logic and add checks for CLI availability
  scripts/bootstrap.sh
Due: script-permissions

feat: Auto-detect appropriate profile based on project context (#45)
  .github/workflows/ci.yml
  .vscode/settings.json
  scripts/bootstrap.sh
  tests/test_bootstrap_autodetect.py
Due: script-permissions

feat: Add comprehensive acceptance criteria and templates for contributions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/acceptance-criteria-summary.md
  docs/acceptance-criteria.md
  docs/ci-cd-setup.md
Due: documentation-links

feat: Add comprehensive acceptance criteria and templates for contributions (#46)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/acceptance-criteria-summary.md
  docs/acceptance-criteria.md
  docs/ci-cd-setup.md
Due: documentation-links

refactor: Clean up test assertions and remove unused imports in test_install_deps.py
  tests/test_install_deps.py
Due: none

fix: Correct assertion output for dry run test in test_install_deps.py
  tests/test_install_deps.py
Due: none

feat: Add automatic dependency installation with --install-deps and --dry-run flags (#47)
  Makefile
  scripts/bootstrap.sh
  scripts/check-tools.sh
  tests/test_install_deps.py
Due: script-permissions

feat: Add Docker support with devcontainer, Dockerfile, and docker-compose setup
  .devcontainer/devcontainer.json
  Dockerfile
  docker-compose.yml
  docs/docker-workflow.md
  scripts/bootstrap.sh
Due: script-permissions, documentation-links

feat: Add containerized setup option (#48)
  .devcontainer/devcontainer.json
  Dockerfile
  docker-compose.yml
  docs/docker-workflow.md
  scripts/bootstrap.sh
Due: script-permissions, documentation-links

feat: Revamp README for streamlined getting started guide and enhanced troubleshooting
  README.md
Due: documentation-links

feat: Revamp README for streamlined getting started guide and enhanced troubleshooting (#49)
  README.md
Due: documentation-links

feat: Update generated timestamps and add bandit report file
  .secrets.baseline
  Makefile
  bandit-report.json
Due: none
